<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Quantum Music</title>
    <link rel="stylesheet" href="style.css">
    <script src="scripts/vue.js"></script>
    <script src="scripts/math.js"></script>
  </head>

  <body>
    <!-- component template -->
    <script type="text/x-template" id="matrix-template">
      <table>
        <thead>
          <tr>
            <th></th>
            <th v-for="col in numrowscols">
              {{colnames[col - 1]}}
            </th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="(rowArray, rowIdx) in matrixAsArray">
            <th>{{rownames[rowIdx]}}</th>
            <td v-for="(colNum, colIdx) in numrowscols">
              {{matrixAsArray[rowIdx][colIdx]}}
            </td>
          </tr>
        </tbody>
      </table>
    </script>

    <!-- demo root element -->
    <div id="demo">
      <demo-grid
        :numrowscols="gridNumRowsCols"
        :rownames="gridRowNames"
        :colnames="gridColNames">
        <!--:matrix="gridMatrix"-->
      </demo-grid>
    </div>

    <script src="grid.js"></script>

  </body>
</html>
