<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Quantum Music</title>
    <link rel="stylesheet" href="style.css">
    <script src="scripts/vue.js"></script>
    <script src="scripts/math.js"></script>
  </head>

  <body>
    <!-- component template -->
    <script type="text/x-template" id="matrix-template">
      <table>
        <thead>
          <tr>
            <th></th>
            <th v-for="col in numrowscols">
              {{colnames[col - 1]}}
            </th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="(rowArray, rowIdx) in matrixAsArray">
            <th>{{rownames[rowIdx]}}</th>
            <td v-for="(colNum, colIdx) in numrowscols">
              {{matrixAsArray[rowIdx][colIdx]}}
            </td>
          </tr>
        </tbody>
      </table>
    </script>

    <!-- demo root element -->
    <div id="demo">
      <demo-grid
        :numrowscols="gridNumRowsCols"
        :rownames="gridRowNames"
        :colnames="gridColNames">
        <!--:matrix="gridMatrix"-->
      </demo-grid>

      <!-- rotation angle sliders -->
      <table>
        <tbody>
          <tr v-for="(srow, srowIdx) in 7">
            <td v-for="(scol, scolIdx) in 4">
              <label>{{angles[(srowIdx) * 4 + (scolIdx)].label}}</label>
              <input type="range" v-model="angles[(srowIdx) * 4 + (scolIdx)].value" min="0" max="359">
              <span>{{angles[(srowIdx) * 4 + (scolIdx)].value}}</span>
            </td>
          </tr>
        </tbody>
      </table>
      <pre id="raw">{{ angles }}</pre>
    </div>

    <script src="grid.js"></script>

  </body>
</html>
